div{
	height: 120px;
	width: 120px;
	margin-left: 50px;
	float:  left ;
	margin-bottom: 20px;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	background-color: #3DFF21;
	border: 5px dotted #3020FF;

}
body{
	background-image: url('../img/ac.jpg');
}
.a{
	background-image: url('../img/back_mantel.jpg');
}
.b{
	background-image: url('../img/back_mantel.jpg');
	background-clip: content-box;
}
.c{
	background-image: url('../img/back_mantel.jpg');
	background-size: 100% 100%;
}
.d{
	background-image: url('../img/back_mantel.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
}